body{
    
    padding: 55px;
    background:rgb(42, 22, 7);
    padding: 55px;
    color: #fff;
    font-size: medium;
    font-weight: 50;
    background-size: cover;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}
h3{
    color:black;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu div {
    border: 1px ;
    padding: 5px; 
    color:black;
    text-decoration: none;
}
h4{
    color:brown;
}
.layout{
    display: grid;
    
}
.picture{
    text-align: right;
    border-radius: 95px;
}
.part1{
text-align: left;
}
.Picture2{
    text-align: left;
}
h2{
    text-align: center;
}
.form-container{
    text-align:center;
    
}
.my{
    display: flex;
    justify-content: space-between;
}
.our{
    display: flex;
    justify-content: space-between;
}
a{
    color:white ;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container{
    display:flex;
align-items:center;
justify-content: space-around;
height: 100vh;
border: 1px;
border-style: groove;
width: 55%;
margin-left:290px;
border-radius: 55px;}

input{
   border: 2px solid white;
    display:block;
    padding:20px; margin-top: 0em;
    border-radius:100px;
    width:200px;
    text-align: center;
    color: black;
    background-color: rgb(77, 72, 72); 
    length:200px;
}
textarea{
    border: 2px solid white;
    display:block;
    padding:20px; margin-top: 0em;
    border-radius:20px;
    width:200px;
    text-align: center;
    color: black;
    background-color: rgb(77, 72, 72);  
    
}
button{
    background-color: rgb(77, 72, 72);
    color:white;
    padding: 10px;
    border-radius:35px ;
    width:250px;
cursor:pointer;
}











