body{
    padding: 15px;
    background:rgb(42, 22, 7);
    padding: 55px;
    color: #fff;
    font-size: medium;
    font-weight: 50;
    background-size: cover;
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}
    a{
        color:#fff;
        text-decoration: none;
    }
a:hover
    {
        text-decoration: underline;
    }
.picture{
    text-align:right;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu div {
    border: 1px ;
    padding: 5px; 
    color:black;
    text-decoration: none;
}
.form-container{
    text-align:left;
}
button:hover{
    cursor:pointer;
}
#about p{
    display: inline-flex;
    grid-template-columns: auto auto;
    width:40%;
    padding-left: 5px;
    margin-left: 300px;
    font-size: medium;
    
    
    
}
.content{
    
    border-style: groove;
    margin-left:290px;
border-radius: 10px;
width:55%;
background-color: rgb(125, 120, 120);
padding-top: 2px;
}
.title{
    text-decoration:underline;
}